<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <title>Pets 4 Athens</title>
       <link rel="shortcut icon" href="/img/favicon.ico">
       <link rel="stylesheet" href="/css/home.css">
       <link rel="stylesheet" href="/css/normalize.css">
   </head>
   <div id="everything">
   <body>
       {{>header}}
       <div id="options">
           <ul>
               <li><a href="/">Home</a></li>
               <li><a class="current" href="/about">About</a></li>
               <li><a href="/contact">Contact Us</a></li>
               <li id="pets"><a href="/ourpets">Our Pets</a>
                   <ul>
                       <li><a href="/ourpets">Our Pets</a></li>
                       <li><a href="/ourpets/apply">Pet Application</a></li>
                       <li><a href="/centers">Find a Pet Adoption Center Near You</a></li>
                   </ul>
               </li>
               <li class="last" id="involvement"><a href="/getinvolved">Get Involved</a>
                   <ul>
                       <li><a href="/getinvolved">Get Involved</a></li>
                       <li><a href="/resources">Other Resources</a></li>
                   </ul>
               </li>
           </ul>
       </div>
       <main>
           <img src="/img/title.jpg" id="about" alt="Title Image">
           <br>
           <h1>About Us</h1>
           <p class="aboutus">Pets 4 Athens was founded just this year!  Pets 4 Athens is a non-profit organization of foster homes in the local area. This means that we trust an enormous and reliable network of foster homes to take care of our pets until they are ready for adoption and find the perfect, permanent home.</p>
           <br>
           <br>
           <br>
           <h1>Our Mission</h1><p class="aboutus">Our mission at Pets 4 Athens is to connect families with our community of cats and dogs searching for a loving home.</p>
            <p class="aboutus">In order to do this, Pets 4 Athens has made the adoption process very easy and efficient! With only a few quick steps, our network will get you connected with foster families for the pet of your choosing after filling out our pet adoption application form. Afterwords, you’ll quickly be ready to bring your new pet home!</p><br>
       </main>
       {{>footer}}
   </body>
   </div>
</html>
