<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pets 4 Athens</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<div id="everything">

    <body>
        {{>header}}
        <div id="options">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li id="pets"><a href="/ourpets">Our Pets</a>
                    <ul>
                        <li><a href="/ourpets">Our Pets</a></li>
                        <li><a href="/ourpets/apply" class="current">Pet Application</a></li>
                        <li><a href="/centers">Find a Pet Adoption Center Near You</a></li>
                    </ul>
                </li>
                <li class="last" id="involvement"><a href="/getinvolved">Get Involved</a>
                    <ul>
                        <li><a href="/getinvolved">Get Involved</a></li>
                        <li><a href="/resources">Other Resources</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <main>
            <br />
            <h1 id="loginheader">Pet Application</h1>

            <form method="post" id="application">
                <label>Your Information:</label>
                <input type="text" name="fname" placeholder="First Name" id="pfname" required>
                <input type="text" name="lname" placeholder="Last Name" id="plname" required><br>
                <label>Pet IDs:</label>
                <input type="text" name="petname" id="pids" required>
                <br>
                <label>Email Address:</label>
                <input type="text" name="email" placeholder="ex:myname@example.com" id="pemail" required><br>
                <label>Phone Number:</label>
                <input type="text" name="areaCode" placeholder="Area Code" id="parea" required>
                <input type="text" name="phoneNum" placeholder="Phone Number" id="pnumber" required><br>
                <label>Address:</label>
                <input type="text" class="address" name="street" placeholder="Street Address" id="paddress1" required>
                <input type="text" class="address" name="street2" placeholder="Street Address Line 2" id="paddress2">
                <input type="text" class="address" name="city" placeholder="City" id="pcity" required>
                <input type="text" class="address" name="state" placeholder="State / Province" id="pstate" required>
                <input type="text" class="address" name="zip" placeholder="Postal / Zip Code" id="pzip" required><br>
                <label>Why do you want to Adopt?:</label>
                <textarea name="why" id="why" rows="5" cols="10" required></textarea>
                <label></label>
                <input type="submit" value="Submit" id="submitApp">
                <p id="loginerror"></p>

            </form>
            <script src="/js/petapp.js"></script>
        </main>
        {{>footer}}
    </body>
</div>

</html>