<header>
    <a href="/"><img src="/img/pets4athens.png" id="mainLogo" alt="Pets 4 Athens Logo"></a>
    <h1>Pets</h1>
    <h2>Find the right pet for you!</h2>
    <h4 id="updateLogin"><a class="logsignup" href="/login">Login</a> or <a class="logsignup" href="/signup">Sign up</a></h4>
    {{!-- <h4>{{innerLogin}}</h4> --}}
</header>